@import '../fonts/robotonew-lightitalic/styles.css';

.template_box {
    font-size: 16px;
    font-family: RobotoNew;
    padding: 6px;
    margin-bottom: 2px;
    color: #505050;
    line-height: 1.5em;
    border: 1px solid #E4E4E4;
}

td .ttw_table_right {
    text-align: right;
    vertical-align: top;
    margin-bottom: 10px;
}

table.list td.category {
    text-align: left;
    padding-left: 20px;
}
.ttw-btn {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 2;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    outline: none;
}

.ttw-btn:not(:disabled) {
    cursor: pointer;
}

.ttw-btn-large {
    padding: 0 24px;
    line-height: 40px;
    font-size: 14px;
    height: 40px;
}

.ttw-btn-primary {
    background-color: #1e87f0;
    color: #fff;
    border: 1px solid transparent;
}

.uk-modal-body {
    padding: 20px 30px;
}

.ttw-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

.ttw-checkbox {
  margin-left: 12px !important;
}

.ttw-checkbox.uk-checkbox{
  height: 20px;
  width: 20px;
  margin-top: -2px;
}

.uk-tooltip {
  /* 1 */
  display: none;
  /* 2 */
  position: absolute;
  z-index: 10501;
  /* 3 */
  top: 0;
  /* 4 */
  box-sizing: border-box;
  max-width: 200px;
  padding: 3px 6px;
  /* 5 */
  background: #777;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
}

.uk-form-icon:not(.uk-form-icon-flip) + .uk-select {
    padding-left: 40px !important;
}

.button-info button:active, button:focus {
  outline: none !important;
}
.button-info button::-moz-focus-inner {
  border: 0 !important;
}

/*------- TODO: Remove these styles Redmine v3.3 or higher -----------*/

.sort-handle {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("../images/reorder.png") no-repeat 0 50%;
  cursor: move !important;
  border-bottom: none !important;
}

.sort-handle.ajax-loading {
  background-image: url("../../../images/loading.gif");
}

tr.ui-sortable-helper {
  border: 1px solid #e4e4e4;
}

span.cbp_attach_thumbnail_box {
	cursor: pointer !important;
}